<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8' />
	<title>Some Website</title>
</head>
<body>
	<h1>We are under updates</h1>
	<p>We going to back soon</p>

	{{> footer }}
</body>
</html>
